@use 'base';

#calendar-container{
    display: flex;

};

#calendar-body{
    flex-grow: 1;
    position: relative;
    zIndex: 0;
};

#sidebar{
    width: 300px;
    line-height: 1.5;
    background: #eaf9ff;
    border-right: 1px solid #d3e2e8;
    text-align: center;
};

.fc-event-title-container:hover{
    cursor: pointer;
};

.form-button{
    display:flex;
    justify-content: space-around;
};

.my-modal .modal-content{
    background-color: beige;
}

